# String

In [9]:
print("name")

name

In [10]:
name : str ="Abdul Basit "
print(name)

Abdul Basit

In [11]:
name:str="abdul basit"
print(id(name))
print(name)

1951399243568
abdul basit

In [12]:
name:str="abdul basit"
print(type(name))
print(name)

<class 'str'>
abdul basit

In [13]:
name :str = "530"
print(name)

530

In [14]:
name : int  = 1136
print(name)

1136

# str data type

In [15]:
name : str = "Abdul Basit"
print(type(name))
print(id(name))

<class 'str'>
1951399265136

# int data type

In [1]:
name : int = 2004
print(type(name))
print(id(name))

<class 'int'>
2444041193904

# Float data type

In [2]:
name : float = 2.3
print(type(name))
print(id(name))

<class 'float'>
2444023289264

# Tuple data type

In [3]:
name : tuple[str,int,float] = ("Abdul Basit",2000 , 2.44)
print(type(name))
print(id(name))

<class 'tuple'>
2444041263680